<!--
<div class="mdl-layout mdl-js-layout mdl-layout&#45;&#45;fixed-drawer">
  <app-header></app-header>
  <app-filter-bar></app-filter-bar>
  <app-footer></app-footer>
</div>
-->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
          data-mdl-for="demo-menu-top-left">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
      </ul>
    </div>
  </header>
  <select name="ff" id="ff">
    <option value="ff">FF</option>
  </select>
</div>
